<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Thank you for your submission.</h1>
    <h3>Your Name: {{yourname_on_template}}</h3>
    <h3>Your Location: {{selectlocation_on_template}}</h3>
    <h3>Favorite Language: {{selectlanguage_on_template}}</h3>
    <h3>Full or Part Time: {{time_on_template}}</h3>
    <h3>On Campus/Online: {{checkbox}}</h3>
    <h3>{{comments_on_template}}</h3>
</body>
</html>